<div class="mt-4">
    <h3>Tạo tác giả</h3>
    <form method="POST" action="/admin/authors/stored">
        <div class="mb-3">
            <label for="nameAuthor" class="form-label">Tên tác giả</label>
            <input type="text" class="form-control" id="nameAuthor" name="nameAuthor" >
        </div>
        <button type="submit" class="btn btn-primary">Thêm tác giả</button>
    </form>
</div> 
