<footer>
    <div class="container mt-4">
        <div class="row gx-5" >
            <div class="col mt-4">
                <h4>GIỚI THIỆU</h4>
                <p>Đây là dự án xây dựng website quản lý thư viện</p>
            </div>
            <div class="col mt-4">
                <h4>SINH VIÊN THỰC HIỆN</h4>
                <p>Trương Hữu Tài - B1809509</p>
                <p>Khóa: 44 - Lớp: 18V7A4</p>
                <p>SĐT: 0868071229</p>
                <p>Email: taib1809509@student.ctu.edu.vn</p>
            </div>
            <div class="col mt-4">
                <h4>GIÁO VIÊN HƯỚNG DẪN</h4>
                <p>Ts. Thái Minh Tuấn</p>
                <p>SĐT: 0938281133</p>
                <p>Email: minhtuan@ctu.edu.vn</p>
            </div>
        </div>
    </div>
</footer>