<div class="mt-4">
    <div class="row">
        {{#each books}}
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <a href="/books/{{this.slug}}">
                    <img src="..." class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="/books/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Thông tin mượn sách</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div> 