<div class="mt-4">
    <form method="POST">
        <h2 class="title-login">Đăng Nhập</h2>
        <div class="mb-3">
            <label for="username" class="form-label">Tài Khoản:</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mật Khảu</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="remember">
            <label class="form-check-label" for="remember">Ghi nhớ</label>
        </div>
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
    </form>
</div>