<div class="mt-4">
    <h3>Cập nhật sách</h3>
    <form  class="mt-4" method="POST" action="/admin/books/{{book._id}}?_method=PUT" >
        <div class="mb-3">
            <label for="name" class="form-label">Tên sách</label>
            <input type="text" class="form-control" value="{{book.nameBook}}" id="name" name="name" >
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <input type="text" class="form-control" value="{{book.descriptionBook}}" id="description" name="description" >
        </div>

        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div> 