<div class="mt-4">
    <div class="row">
        <div class="col-lg-9">
            <h2>{{book.nameBook}}</h2>
        </div>
        <div class="col-lg-3">
            <h1>Sidebar</h1>
        </div>
    </div>
</div>