<div class="mt-4">
    <form method="POST" action="/admin/categories/stored" >
        <h3>Thêm thể loại</h3>
        <div class="mb-3">
            <label for="nameCategory" class="form-label">Tên thể loại sách</label>
            <input type="text" class="form-control" id="nameCategory" name="nameCategory">
        </div>
        <button type="submit" class="btn btn-primary">Lưu</button>
    </form>
</div>